<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="11811ef5-5ec6-4049-8f65-9deffb985ff1" wadlVersion="http://wadl.dev.java.net/2009/02" name="GetUserByHeader" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="11811ef5-5ec6-4049-8f65-9deffb985ff1fileName">GetUserByHeader</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>