<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="6e149e75-2f98-4eff-acca-92759cca84e8" wadlVersion="http://wadl.dev.java.net/2009/02" name="GetUserById" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="6e149e75-2f98-4eff-acca-92759cca84e8fileName">GetUserById</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>