<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ffd4eb59-757a-448f-a6f5-e5eae289a974" wadlVersion="http://wadl.dev.java.net/2009/02" name="CreateUser" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ffd4eb59-757a-448f-a6f5-e5eae289a974fileName">CreateUser</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>