<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="4b82835a-2d41-4a89-bcc4-a070ff5d7114" wadlVersion="http://wadl.dev.java.net/2009/02" name="DeleteUserByParam" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="4b82835a-2d41-4a89-bcc4-a070ff5d7114fileName">DeleteUserByParam</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>