<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2167b06b-95cf-4184-bf11-173f0fa767f1" wadlVersion="http://wadl.dev.java.net/2009/02" name="GetSecondaryUserById" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="2167b06b-95cf-4184-bf11-173f0fa767f1fileName">GetSecondaryUserById</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>