<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e499d91f-0ab7-4424-b9f7-94ba2c2807ca" name="EndToEnd Automation" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="e499d91f-0ab7-4424-b9f7-94ba2c2807cafileName">EndToEnd-Automation</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>