<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="aee8541c-3caa-42b8-8f26-8509cffa3a65" wadlVersion="http://wadl.dev.java.net/2009/02" name="DeleteSecondaryUserbyId" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="aee8541c-3caa-42b8-8f26-8509cffa3a65fileName">DeleteSecondaryUserbyId</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>